PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=5432
DB_USER=carevoo
DB_PASSWORD=carevo123
DB_NAME=carevoo_db

PGHOST=localhost
PGPORT=5432
PGUSER=carevoo
PGPASSWORD=carevo123
PGDATABASE=carevoo_db

DATABASE_URL=postgres://carevoo:carevo123@localhost:5432/carevoo_db

JWT_SECRET=carevo_super_secret_key
JWT_EXPIRES_IN=7d
JWT_ACCESS_TOKEN_SECRET=carevo_super_secret_access
JWT_REFRESH_TOKEN_SECRET=carevo_super_secret_refresh
JWT_ACCESS_TOKEN_EXPIRES_IN=7d
JWT_REFRESH_TOKEN_EXPIRES_IN=30d

# Local AI service:
AI_SERVICE_URL=http://localhost:8000
# Kalau mau pakai API ngrok AI, ganti jadi:
# AI_SERVICE_URL=https://arrogance-gentile-busboy.ngrok-free.dev
USE_TENSORFLOW_AI=true
AI_SERVICE_TIMEOUT_MS=10000
